<div>
    <br /><br />
    <h2 id="h2">TADİLAT & TAMİRAT</h2>
    <p><br />
    Demir İnşaat, bir tadilat, tamirat, dekorasyon firması olup, tecrübeli elemanları 
    ile siz değerli müşterilerinin hizmetindedir.Bu doğrultuda inşaat ve 
    dekorasyon sektöründe yeni işler icra ettiğimiz gibi aynı zamanda
    <a href="http://www.demirtadilattamirat.com/">tadilat</a> ve 
    <a href="http://www.demirtadilattamirat.com/">tamirat</a> işlerinizi de
    büyük bir titizlikle yapmaktayız.Tecrübesini teknoloji ilen bütünleştiren
    firmamızın kriterleri ise şunlardır: Kalite, teknoloji, ekonomi,
    prensipli çalışma, estetik, günenilirlik, müşteri odaklılık,
    sorumluluk bilinci, istikrar ... 
    </p>
    <p>
    Yukarıdaki maddeleri tek tek irdeleyecek olursak da şunları söyleyebiliriz:
    Malumdurki kalitesiz malzeme ve işçiliğin ticaret piyasasında yer 
    etmesi mümkün değildir.Bunun yanında kaliteli üretim yapmanın ilk şartlarından 
    birisi de tabiiki, teknoloji kullanımıdır.Özellikle hemen hemen her sektöre 
    el atmış olan elektronik ve bilgisayar günümüzün vazgeçilmezleri arasındadır.
    Bu dal hemen hemen bütün iş sahalarında kullanılmaktadır.Üretimde kullanılmasa 
    dahi reklam amaçlı kullanılmaktadır.
    </p>
    </div>
