TADİLAT & TAMİRAT


Demir İnşaat, bir tadilat, tamirat, dekorasyon firması olup, tecrübeli elemanları ile siz değerli müşterilerinin hizmetindedir.Bu doğrultuda inşaat ve dekorasyon sektöründe yeni işler icra ettiğimiz gibi aynı zamanda tadilat ve tamirat işlerinizi de büyük bir titizlikle yapmaktayız.Tecrübesini teknoloji ilen bütünleştiren firmamızın kriterleri ise şunlardır: Kalite, teknoloji, ekonomi, prensipli çalışma, estetik, günenilirlik, müşteri odaklılık, sorumluluk bilinci, istikrar ...

Yukarıdaki maddeleri tek tek irdeleyecek olursak da şunları söyleyebiliriz: Malumdurki kalitesiz malzeme ve işçiliğin ticaret piyasasında yer etmesi mümkün değildir.Bunun yanında kaliteli üretim yapmanın ilk şartlarından birisi de tabiiki, teknoloji kullanımıdır.Özellikle hemen hemen her sektöre el atmış olan elektronik ve bilgisayar günümüzün vazgeçilmezleri arasındadır. Bu dal hemen hemen bütün iş sahalarında kullanılmaktadır.Üretimde kullanılmasa dahi reklam amaçlı kullanılmaktadır.

Bir yandan teknolojik ve kaliteli bir üretim yaparken diğer taraftan da ekonomik ürünler ve hizmet üretmek zorundasınızki ticaret piyasada yer edinebilesiniz.Kriterimiz kaliteden ödün vermeden mümkün olan en en ucuz üretimdir.Bütün bunları başarabilmek için de elbette prensipli ve disiplinli çalışılmalıdır.Üretim yaparken üretim ve tasarım ekibimiz işe müşteri gözüyle bakarak işin estetiğini kullanışlılığını da gözönünde bulundurmaktadır. Klasik olacak belirteceğimiz düsturumuz, ilkemiz "Yaptıklarımız yapacaklarımızın garantisidir.".Yaptığımız bütün bu çalışmalar elbette müşteriye hizmet içindir.Dolayısıyla müşteri odaklı çalışma vardır.Empati yaparak tasarım, üretim ve hizmet vermekteyiz.Bunlar sonucunda da sorumluluğumuzun farkında olup çalışmalarımızı yürütmekteyiz. Başarımızın sırlarından birisi de İstikrardır.İstikrar vazgeçilmezlerimizdendir.

Tadilat ve tamirat branşında da çalışmalarını yürüten firmamız siz değerli müşterilerinin hizmetindedir. Bütün elemanlarımızla gerek tadilat-tamirat işlerinde gerekse sıfırdan yapılan işlerimizde aynı hassasiyeti göstermekteyiz.
